<div
  class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-4 gap-6"
>
  @for (movie of movies(); track movie.id_pelicula) {
    <div
      class="card card-compact bg-base-100 text-base-content shadow-md hover:shadow-xl border border-base-300 transition-all duration-300 hover:-translate-y-1 animate-fadeIn overflow-hidden group"
    >
      <figure class="w-full h-72 overflow-hidden">
        <img
          [src]="movie.imagen_url"
          alt="{{ movie.nombre }}"
          class="w-full h-full object-cover object-center transition-transform duration-500 group-hover:scale-105"
        />
      </figure>

      <div class="card-body flex flex-col">
        <h2
          class="card-title font-montserrat text-primary text-lg hover:underline cursor-pointer line-clamp-1"
        >
          {{ movie.nombre }}
        </h2>
        <p class="text-base-content/80 text-sm flex-grow">
          Duración:
          <span class="font-semibold text-secondary ml-1"
            >{{ movie.duracion }} min</span
          >
        </p>
        <div class="card-actions justify-end mt-2">
          <a
            [routerLink]="['/cinema/movie/edit/', movie.id_pelicula]"
            class="btn btn-primary btn-sm"
          >
            Comprar Boleto
          </a>
        </div>
      </div>
    </div>
  }
</div>
