<div
  class="navbar bg-base-100 text-base-content z-50 relative border-b border-base-300"
>
  <div class="navbar-start">
    <div class="dropdown" [class.dropdown-open]="isMenuOpen">
      <div
        role="button"
        class="btn btn-ghost lg:hidden"
        (click)="isMenuOpen = !isMenuOpen"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          />
        </svg>
      </div>

      <ul
        class="menu menu-sm dropdown-content mt-3 z-50 p-2 shadow bg-base-100 rounded-box w-52"
      >
        <li>
          <a routerLink="/cinema/movie" (click)="isMenuOpen = false"
            >Películas</a
          >
        </li>
        <li>
          <a routerLink="/cinema/room" (click)="isMenuOpen = false">Salas</a>
        </li>

        <li>
          <a>
            <label class="flex cursor-pointer gap-2 items-center">
              <span class="font-medium text-xs">Dark</span>

              <input
                type="checkbox"
                value="cupcake"
                class="toggle theme-controller toggle-sm toggle-primary"
              />

              <span class="font-medium text-xs">Cupcake</span>
            </label>
          </a>
        </li>
        <li>
          <a>{{ currentUser() ? currentUser().nombre : "Cuenta" }}</a>

          <ul class="p-2">
            @if (!currentUser()) {
              <li>
                <a routerLink="/auth/login" (click)="isMenuOpen = false"
                  >Iniciar Sesión</a
                >
              </li>
            }

            @if (currentUser()) {
              @if (authService.isAdmin()) {
                <li>
                  <a routerLink="/admin/dashboard" (click)="isMenuOpen = false"
                    >Ir al Dashboard</a
                  >
                </li>
              }

              <li>
                <a class="text-error" (click)="logout(); isMenuOpen = false"
                  >Salir</a
                >
              </li>
            }
          </ul>
        </li>
      </ul>

      <div
        *ngIf="isMenuOpen"
        class="fixed inset-0 z-40 bg-transparent lg:hidden"
        (click)="isMenuOpen = false"
      ></div>
    </div>

    <a routerLink="/cinema" class="btn btn-ghost text-xl">Cinema Management</a>
  </div>

  <div class="navbar-end hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a routerLink="/cinema/movie">Películas</a></li>
      <li><a routerLink="/cinema/room">Salas</a></li>
      <li>
        <a>
          <label class="flex cursor-pointer gap-2 items-center">
            <span class="font-medium text-xs">Dark</span>

            <input
              type="checkbox"
              value="cupcake"
              class="toggle theme-controller toggle-sm toggle-primary"
            />

            <span class="font-medium text-xs">Cupcake</span>
          </label>
        </a>
      </li>

      <li>
        <details>
          <summary>
            {{ currentUser() ? currentUser().nombre : "Cuenta" }}
          </summary>

          <ul class="p-2 bg-base-100 rounded-t-none z-50">
            @if (!currentUser()) {
              <li><a routerLink="/auth/login">Iniciar Sesión</a></li>
            }

            @if (currentUser()) {
              @if (authService.isAdmin()) {
                <li><a routerLink="/admin/dashboard">Ir al Dashboard</a></li>
              }
              <li><a class="text-error" (click)="logout()">Salir</a></li>
            }
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>
