@if (isModalOpen()) {
  <app-modal-global
    [tipo]="tipoModal()!"
    [titulo]="tituloModal()!"
    [modulo]="'MOVIE'"
    [descripcion]="descripcionModal()!"
    (onClose)="cerrarModal()"
    (onAccept)="deletedAssignment()"
  >
  </app-modal-global>
}

<div class="container mx-auto px-4 py-2">
  <div class="mb-3 text-center md:text-left">
    <h2 class="text-2xl md:text-4xl font-bold text-base-content">
      Asignaciones Disponibles
      <span class="ml-1 badge badge-accent badge-lg font-extrabold">
        {{ assignmentResource.value()?.length }}
      </span>
    </h2>
    <p class="text-base-content/60 mt-2 text-sm md:text-base">
      Administra las asignaciones de peliculas a salas disponibles.
    </p>
  </div>
  <div class="flex items-center justify-end w-full">
    <div>
      <button
        class="btn btn-primary border my-2"
        [routerLink]="['/admin/assignment/new']"
      >
        Add
      </button>
    </div>
  </div>
  <div>
    <app-assignment-table
      [assignments]="assignmentResource.value()!"
      (edit)="editAssignment($event)"
      (delete)="abrirModalEliminar($event)"
    >
    </app-assignment-table>
  </div>
</div>
