<div class="container mx-auto px-4 py-2">
  <div class="mb-3 text-center md:text-left">
    <h2 class="text-2xl md:text-4xl font-bold text-base-content">
      Salas de Cine Disponibles
      <span class="ml-2 badge badge-accent badge-lg font-extrabold">
        {{ roomResource.value()?.length }}
      </span>
    </h2>
    <p class="text-base-content/60 mt-2 text-sm md:text-base">
      Administra la capacidad y distribución de las peliculas.
    </p>
  </div>

  @if (roomResource.value()?.length! > 0) {
    <div class="w-full animate-fade-in-up">
      <app-room-card [rooms]="roomResource.value()!"></app-room-card>
    </div>
  } @else {
    <no-data [titulo]="'salas'"></no-data>
  }
</div>
