<div
  class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-2 gap-3"
>
  @for (room of rooms(); track room.id_sala) {

  <div class="card card-compact bg-base-100 shadow-xl animate-fadeIn">
    <figure>
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/a/a3/Image-not-found.png"
      />
    </figure>
    <div class="card-body">
      <h2
        class="card-title font-montserrat text-accent text-lg hover:underline cursor-pointer"
      >
        {{ room.nombre }}
      </h2>
      <p>
        Esta pelicula dura:
        <span
          class="font-bold"
          [style.color]="room.estado === 'Activa' ? 'green' : 'red'"
        >
          {{ room.estado }}
        </span>
      </p>
      <div class="card-actions justify-end">
        <a
          class="text-accent"
          [routerLink]="['/cinema/room/', room.id_sala]"
          class="link link-accent"
        >
          Ver producto
        </a>
      </div>
    </div>
  </div>
  }
</div>
